# Copy this file to .env and fill in the values
# MongoDB connection string (keep secret)
MONGO_URI=mongodb+srv://varun:49F7I3GwmESsq2Bs@cluster0.7gpo5vv.mongodb.net/pm-ajay

# Port the server should run on
PORT=5000
